@use "../mixins/mixins";
@use "../root/root";


.stripe-context {
  box-sizing: border-box;
  list-style: none;
  padding: 0 5vw 3vh 5vw;
  display: flex;
  justify-content: space-between;
 
  & li {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  span {
    @include adaptiv-font(40, 16);
    color: $text-color-gold;
    margin-right: 10px;
    font-weight: 700;
  }
  p {
    @include adaptiv-font(37, 15);
  }
}
