$maxWidth: 1980;

$background-dark: #16171b;
$light-theme: #fff;

$text-color-gold: #ecb614;
$text-color-red: #b1361e;

$font-family-main: 'Oswald', sans-serif;
$font-family-alternate: 'Lobster', sans-serif;