@import "../mixins/mixins";
@import "../root/root";
.home {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__title {
    @include adaptiv-font(70, 30);
    font-family: $font-family-alternate;
    margin: 0 0 25px 0;
  }

  &__subtitle {
    @include adaptiv-font(30, 15);
    font-family: $font-family-alternate;
    margin: 0 0 25px 0;
  }

  &__text {
    @include adaptiv-font(50, 25);
    color: $text-color-red;
    margin: 0;
    font-weight: 700;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 5vw;
    box-sizing: border-box;
    margin: auto;
  }

  &__video-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__img-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    user-select: none;
    mix-blend-mode: screen;
  }

  &__social-list {
    max-width: 80px;
    position: absolute;
    bottom: 2%;
    right: 3%;

    &_vertical {
      gap: 20px;
      width: auto;
      display: flex;
      flex-direction: column;

      @include tablet {
        right: 50%;
        transform: translateX(50%);
        flex-direction: row;
      }
    }

    @include tablet {
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.dark .mask {
  filter: invert(1);
  mix-blend-mode: multiply;
}
