@use "../mixins/mixins";

.project {
  &__main {
    display: block;
    position: relative;
    max-width: 75%;
    height: 480px;
    margin: auto;
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: block;
      content: " ";
      background: #1c1d25;
      opacity: 0.6;
      transition: opacity 0.3s ease;
      z-index: 2;
    }
  }

  &__title {
    @include adaptiv-font(50, 22);
    font-family: var(--second-font);
    line-height: 1.2rem;
    letter-spacing: 0.4rem;
    margin-bottom: 30px;
  }

  &__title-description {
    @include adaptiv-font(20, 14);
    margin-bottom: 30px;
  }

  &__main-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__hover-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      opacity: 1;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(199, 48, 37, 0.9),
        rgba(16, 27, 59, 0.9)
      );
      transform: translateX(-100%);
      z-index: 9;
      transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s,
        opacity 0.2s, -webkit-transform 0.35s;
    }
  }

  &__masc-wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
  }

  &__insight-mask {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(199, 48, 37, 0.9),
      rgba(16, 27, 59, 0.9)
    );
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;

    &_deactivate {
      transform: translateX(100%);
    }
  }

  &__number-mask {
    position: absolute;
    top: -5%;
    right: -6%;
    width: 20%;
    height: 170px;
    font-size: 11.5em;
    line-height: 1.2;
    overflow: hidden;
    opacity: 1;
    font-family: var(--second-font);
    z-index: 100;
    pointer-events: none;

    &_position_alternate {
      left: -6%;
    }
  }

  &__text-wrap {
    max-width: 50%;
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: #fff;
    z-index: 10;
    transition: transform 0.45s, opacity 0.25s;
    transition-delay: 0.4s;

    &_position_alternate {
      left: auto;
      right: 10%;
      text-align: right;
    }
  }

  &__popup-open {
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    background: var(--color-main);
  }

  &__btn-wrapper{
    height: 50px;
    width: 200px;
  }
}

.project:nth-child(odd) {
  transform: translateX(15px);
}
.project:nth-child(even) {
  transform: translateX(-15px);
}

.project__main:hover .project__hover-mask::before {
  transform: translateX(0);
}

.project__main:hover .project__text-wrap {
  transform: scale(1.05);
}

.project__main:hover .mask-number__back {
  opacity: 1;
  transform: translateY(-30px);
}

.project__main:hover .mask-number__front {
  top: 0;
  transform: translateY(-30px);
  transition: 0.4s ease;
  transition-delay: 0.5s;
}

@media screen and (max-width: 1200px) {
  .portfolio__projects {
    gap: 90px;
  }
}

@media screen and (max-width: 900px) {
  .project {
    &__main {
      max-width: 90%;
    }

    &__text-wrap {
      max-width: 100%;
    }
  }

  .portfolio__projects {
    gap: 50px;
  }
  .project:nth-child(odd) {
    transform: translateX(0);
  }
  .project:nth-child(even) {
    transform: translateX(0);
  }
}
