.loading-popup {
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.7s;
  &_active {
    opacity: 1;
    visibility: visible;
  }

  &__loader-sucess {
    display: none;
    color: #095a13;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & i {
      font-size: 40px !important;
      color: #095a13;
    }
    &_active {
      display: flex;
    }
  }
  &__loader-reject {
    display: none;
    color: #bd1616;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & i {
      font-size: 40px !important;
      color: #bd1616;
    }
    &_active {
      display: flex;
    }
  }

  &__form-text {
    @include adaptiv-font(35, 25);
    font-weight: 700;
  }

  &__loader {
    display: none;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    &_active{
      display: block;
    }
  }

}
