@font-face {
  font-family: "Lobster";
  src: local("Lobster-Regular"),
    url(../fonts/Lobster-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Regula"),
    url(../fonts/Oswald-Regular.woff2) format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Bold"),
    url(../fonts/Oswald-Bold.woff2) format("woff2");
  font-weight: 500;
}

