@import '../mixins/mixins'; 

.portfolio {
  padding: 100px 0;
  width: 100%;
  height: auto;

  &__container {
    max-width: 1170px;
    margin: auto;
    position: relative;
  }

  &__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%;
    height: 100%;
    transform: translateX(-50%);
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
  }

  &__title {
    @include adaptiv-font(55, 25);
    text-align: center;
    margin: 0 0 70px 0;
  }

  &__subtitle{
    @include adaptiv-font(30, 20);
    text-align: center;
    margin: 0 0 60px 0;
  }

  &__projects {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 135px;
  }

}










