@import "../mixins/mixins";

.card {
  padding: 20px;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @include desktop {
    height: 550px;
  }
  @include laptop {
    height: 500px;
  }
  @include tablet {
    height: 450px;
  }
  @include mobile{
    height: 400px;
  }
  &__background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 200ms linear;
    color: black;
  }
  &__category {
    color: #e1011c;
    @include adaptiv-font(40, 20);
    text-transform: uppercase;
    margin: 0 0 10% 0;
  }
  &__heading {
    color: inherit;
    max-width: 70%;
    @include adaptiv-font(25, 13);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    text-align: center;
    margin: 0 0 50% 0;
  }
  &-btw-wrapper {
    width: 100%;
    height: 60px;
  }
  &__logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    z-index: 10;
    transition: all 200ms linear;
  }
  &:hover .card__background {
    transform: scale(1.05) translateZ(0);
  }
  &:hover .card__logo {
    transform: scale(1.05) translate(-50%, -5%);
  }
  &:hover .card__content {
    transform: scale(1.05);
  }
  &_style_hh .card__background {
    background: #fff;
  }
  &_style_hh .card__category {
    color: #e1011c;
  }
  &_style_habr .card__background {
    background: #303b44;
  }
  &_style_habr .card__category {
    color: #65a2b9;
  }
  &_style_pdf .card__background {
    background: #e1011c;
  }
  &_style_pdf .card__category {
    color: #fff;
  }
}







.resume__grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}












