// Animations
@keyframes clockwise {
  to {transform: rotate(360deg) translatez(0);}
}


// Two-tone throbber
.loader-timer {
  height: 50px;
  width:  50px;
  border-width: 5px;
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0.75)
    hsla(0, 0%, 100%, 0.75) hsla(0, 0%, 100%, 0.25) hsla(0, 0%, 100%, 0.25);
  border-radius: 100%;
  animation: clockwise .5s linear infinite;
}



