@import "../mixins/mixins";

.list-contact {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  @include tablet {
    margin: 0 auto 80px auto;

  }
}

.list-contacts__item {
  color: #fff;
  width: 100%;
  text-align: start;
  display: flex;

}

.list-contacts__text {
  margin: auto;
  @include adaptiv-font(27, 19);
  color: #fff;
}

.list-contact__link {
  margin: auto;
  text-decoration: none;
  color: inherit;
}
