@import "../mixins/mixins";
@import "../root/root";

.contacts {
  box-sizing: border-box;
  padding: 80px 0 40px 0;
  max-width: 90%;
  text-align: center;
  margin: auto;
  background-color: #16171b;
  background-image: linear-gradient(120deg, #111213 0%, #323234 100%);
  border-radius: 30px 30px 0 0;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 20px 100px 20px;
    position: relative;
    max-width: 840px;
    gap: 50px;
    @include tablet {
      flex-direction: column;
    }
  }
  &__form {
    margin: auto;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    font-weight: 400;
    @include tablet {
      width: 90%;
    }
  }
  &__title {
    @include adaptiv-font(55, 25);
    text-align: center;
    color: $text-color-gold;
    margin: 0 0 70px 0;
    font-family: $font-family-alternate;
  }

  &__subtitle {
    @include adaptiv-font(30, 20);
    display: inline-block;
    border-bottom: 2px solid $text-color-gold;
    margin: 0 0 80px 0;
    font-family: $font-family-alternate;
    color: $text-color-red;
    @include tablet {
      max-width: 90%;
      margin: 0 0 40px 0;
    }
  }
  &__information {
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      width: 90%;
    }
  }
  &__media-list-wrapper {
    padding: 60px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    box-sizing: border-box;
    margin: auto;
    font: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: #252527;
    color: #fff;
    letter-spacing: 1px;
  }
  &__textarea {
    box-sizing: border-box;
    margin: auto;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: #252527;
    color: #fff;
    letter-spacing: 1px;
    height: auto;
  }

  &-btw-wrapper {
    width: 100%;
    height: 45px;
  }

  &__form-field {
    position: relative;
  }

  &__form-error {
    position: absolute;
    bottom: -18px;
    left: 10px;
    color: red;
    opacity: 0;
  }
  &__logo {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  &__copyright {
    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
  }
  & svg {
    width: 20px;
    height: 20px;
  }
  &__copyright-text {
    @include adaptiv-font(25, 10);
    letter-spacing: 0.1rem;
  }

  &__form-status {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 182, 20, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.7s;
    &_active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__loader-sucess {
    display: none;
    color: #095a13;
    & i {
      font-size: 40px !important;
      color: #095a13;
    }
    &_active{
      display: block
    }
  }
  &__loader-reject {
    display: none;
    color: #bd1616;
    & i {
      font-size: 40px !important;
      color: #bd1616;
    }
    &_active{
      display: block
    }
  }

  &__form-text {
    @include adaptiv-font(35, 25);
    font-weight: 700;
  }
}
.contacts-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.form__text-error_active {
  opacity: 1;
}
.form__text_type_error {
  border: 1px solid red;
}

.button_inactive {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #c4c4c4;
  cursor: none;
  pointer-events: none;
}

.fa-map-marker,
.fa-phone,
.fa-envelope,
.fa-code {
  transform: scale(0.8);
}
.testBtn {
  width: 200px;
  height: 100px;
  background-color: red;
}
