@import "../mixins/mixins";
@import "../root/root";

.resume {
  box-sizing: border-box;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  @include tablet {
    padding: 0 0 70px 0;
  }
  &__grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 70%;
    @include desktop {
      max-width: 90%;
    }
    @include laptop {
      grid-template-columns: 1fr;
    }
  }
  &__title {
    @include adaptiv-font(70, 30);
    font-family: $font-family-alternate;
    color: $text-color-gold;
    text-align: center;
    margin: 0 0 70px 0;
    @include tablet {
      margin: 0 0 50px 0;
    }
  }
  &__subtitle {
    @include adaptiv-font(30, 20);
    display: inline-block;
    margin: 0 0 60px 0;
    font-family: $font-family-alternate;
    color: $text-color-red;
  }
 
}
