


.menu-theme {
  display: flex;
  gap: 10px;

  &__btns {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    width: 100%;
    height: 100%;
    &:nth-child(2) {
      display: none;
    }
  }

  // &__menuToggle {
  //   font-size: 2em;
  // }
}

.menu-theme__btns.active .menu-theme__icon:nth-child(2) {
  display: block;
}

.menu-theme__btns.active .menu-theme__icon:nth-child(1) {
  display: none;
}
